spring:
    datasource:
      url: jdbc:mysql://${DB_HOST}:3306/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
    main:
        web-application-type: reactive
    cloud:
        gateway :
            discovery:
                locator:
                    enabled: true
                    lower-case-service-id: true
            routes:        
                  - id: auth-route
                    uri: lb://auth-service
                    predicates:
                        - Path=/auth/**
                    filters:
                        - name: Retry
                          args: 
                            retries: 3
                            method: GET
                            backoff:
                                firstBackOff: 50ms
                                maxBackOff: 500ms
                        - name: CircuitBreaker
                          args:
                            name: auth-service
                            fallbackUri: forward://auth-fallback
                  - id: product-route
                    uri: lb://product-service
                    predicates :
                        - Path=/products/**
                    filters:
                        - name: AuthenticationFilter
                        - name: Retry
                          args:
                            retries: 3
                            methods: GET
                            backoff:
                                firstBackOff: 50ms
                                maxBackOff: 500ms
                        - name: CircuitBreaker
                          args:
                            name: product-service
                            fallbackUri: forward:/product-fallback                  
    jackson :
        default-property-inclusion: NON_NULL
#secret key - should be encrypted
jwt:
    secret: secretkey
    token:
        validity: 180000
logging:
    file: 
        name: app-gateway.log
    level:
        root: info
    com.supershopee.gateway: info
    pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
        file: "%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %c [%M] - %m%n"
